# Homework Week 4

The week's homework will be based on the Olympic medal data (olympics.csv), which was derived from Wikipedia. The following code loads and organize the data for you. 

The columns are organized as Number of Summer games, Summer medals, Number of Winter games, Winter medals, total Number number of games, total Number of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'Number'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 1

What is the second country in the DataFrame and what is its total number of medals?

In [13]:
print("The second country in the DataFrame is {} and the total number of medals won is {}".format(df.index[1], df.iloc[1]["Combined total"]))

The second country in the DataFrame is Algeria and the total number of medals won is 15

### Question 2

Which country has won the most silver medals in summer games? and how much?

In [23]:
sortSilver = df.sort_values(by=["Silver"], ascending=False)
country = sortSilver.index[0]
nMedals = sortSilver["Silver"][0]
print("The country that won the most silver medals is {} and the number of medals is {}".format(country, nMedals))

The country that won the most silver medals is United States and the number of medals is 757

### Question 3

Which countries has the largest difference between their summer gold medal counts and winter gold medal counts relative to their total medal count?

In [61]:
df["Difference"] = abs(df["Gold"] - df["Gold.1"])/df["Combined total"]
sortRelative = df.sort_values(by=["Difference"], ascending=False)
sortRelative.index[0:3]

Index(['United Arab Emirates', 'Grenada', 'Burundi'], dtype='object')

### Question 4

Add a column to the dataframe (Call it "Score") for Games which is a weighted value where each gold medal counts for 10 points, silver medals for 3 points, and bronze medals for 1 point. As an example the row with index Afganistan should have a value of 2 ( 2 x 1, bronze).

In [30]:
df["Score"] = (10*df["Gold.2"] + 3*df["Silver.2"] + df["Bronze.2"])
#Sanity check to see if Afghanistan has a score of 2
df.loc["Afghanistan"]["Score"]

2

### Question 5

What is the average of bronze medals for the top 5 medal holders?

In [42]:
sortTotal = df.sort_values(by=["Combined total"], ascending=False)
average = sum(sortTotal["Bronze.2"][0:5])/5
print("The average number of bronze medals for the Top 5 Total Medals Holders is {}".format(average))

The average number of bronze medals for the Top 5 Total Medals Holders is 390.4

### Question 6

What is the total number of winter silver medals earned by countries starting with the letter B.

In [53]:
total = sum(df[[x.startswith('B') for x in df.index]]["Silver.1"])
print("The total number of winter silver medals earned by countries starting with the letter B is {}".format(total))

The total number of winter silver medals earned by countries starting with the letter B is 7

### Question 7

Based on the question 4 which country has the highest score?

In [56]:
country_max_score = df.sort_values(by=["Score"], ascending=False).index[0]
print("The country with the highest score is {}".format(country_max_score))

The country with the highest score is United States