In [71]:
%timeit
%matplotlib inline
from qPythonConnection import *
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import datetime

# establish kdb/q connection 
qpc = qPythonConnection(host='uklpapeci36c.gdc.standardchartered.com', port=5022, user='Administrator',
                             pwd='password')


qpc.create_connection()

instrument =""" "RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e58-ae54-6267ec3bc421" """
query = """ select from ratesPrice
            where date=.z.d-1,
            sym=`${}
        """.format(instrument)

qReturn = qpc.submitQuery(query, True)
qReturn = qpc.massageQTimestampColumn(qReturn, 'time')
test = pd.DataFrame(qReturn)
test['time'] = pd.to_datetime(test['time'])
test['date'] = test['time'].dt.date
test = test.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)
                     
test.shape
#test.sym.unique()

(135, 4)

In [72]:
test.shape

(135, 4)

In [73]:
YM = test[test['sym']=='RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e58-ae54-6267ec3bc421']

In [74]:
YM.head()

,date,time,sym,price
0,2019-10-23,2019-10-23 00:05:45.496706,RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...,99.2475
1,2019-10-23,2019-10-23 00:18:45.498540,RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...,99.2525
2,2019-10-23,2019-10-23 00:30:45.500359,RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...,99.2475
3,2019-10-23,2019-10-23 00:32:45.500567,RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...,99.2500
4,2019-10-23,2019-10-23 00:32:45.500567,RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...,99.2525

In [75]:
YM.shape

(135, 4)

In [76]:
YM.iloc[-1]

date                                            2019-10-23
time                            2019-10-23 23:34:15.698747
sym      RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...
price                                              99.2725
Name: 134, dtype: object

In [77]:
type(YM.iloc[1]['price'])

numpy.float64

In [78]:
YM = YM.sort_values('time')

In [79]:
YM.iloc[1]

date                                            2019-10-23
time                            2019-10-23 00:18:45.498540
sym      RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...
price                                              99.2525
Name: 1, dtype: object

In [80]:
YM.iloc[-1]

date                                            2019-10-23
time                            2019-10-23 23:34:15.698747
sym      RISK:BOND_FUTURES:INPUT.PRICE.58cf2a06-56e4-4e...
price                                              99.2725
Name: 134, dtype: object

In [81]:
YM.describe()

            price
count  135.000000
mean    99.262259
std      0.017207
min     99.160000
25%     99.257500
50%     99.265000
75%     99.272500
max     99.285000

In [82]:
minYM = YM[YM['price']<=99.19999]