# Homework Week 1

### Question 1

Using the data stored in the three lists (row_1, row_2, row_3) below:
  - Assign the last element of row_1, row_2 and row_3 to the respective variables called fb_rating, inta_rating, cc_rating.
  - Assign the first element of row_2 to a variable called intsa_1.
  - Assign the second element of row_3 to a variable called cc_price.
  - calculate the average of the three ratings and stored into a variable avg_rating.
  - Select the first four elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named first_4_fb.
  - Select the last three elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named last_3_fb.
  - From row_3, select the list slice ['USD', 3455] using a list slicing syntax shortcut. Assign the output to a variable named pandora_3_4.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 5124, 3.59]
row_2 = ['Instagram', 0.0, 'USD', 3223, 4.50]
row_3 = ['linkedin', 12.0, 'USD', 3455, 4.55]

#write your code here

### Question 2

Using data from question 1 create a list of three lists (row_1,row_2, row_2) and call it _app_list_:

In [ ]:
#write your code here

### Question 3

Using the __'for'__ iteration print the name and the rating of each app on seperate line:

In [ ]:
#write your code here

### Question 4

Using the __'for'__ iteration print the name and the price of each app on seperate line. Make sure that the price formating has one digit after the coma. The output should the below format:

"The price of the app spotify, is 0.0"

In [ ]:
#write your code here

### Question 5

Using iteration write a program that sums all the __even__ elements of the below list:

In [ ]:
l_1 = [2,3,4,2,7,3,1,1,4,9,2,5,3,7,8,11,5]

#write your code here

Tranform the below string into a list of words:

### Question 6

Using iteration write a program that sums all the elements of l_1 and store it in a variable l_total:

In [ ]:
#write your code here

### Question 7

Change the type of the below list from integers into boolean:

In [ ]:
l_int = [0,0,1,0,1,1,0,0,0,1,0,1,1,0]

### Question 8

Create a list l_2 where each element of l_1 is squared:

In [ ]:
#write your code here

### Question 9

Write a code to split s_1 into a list of its constituent words

In [ ]:
s_1  = "Introduction to Machine Learning"


#write your code here

### Question 10

Write a Python program to find the numbers between 200 and 115 (both included) which are divisible by 7. The ouput should be a list.

In [ ]:
#write your code here